//Colors
$color-primary: #9e579d;
$color-primary-light: #e078df;
$color-primary-dark: #854484;

$color-secondary: #fc85ae;
$color-secondary-light: #fd9bbe;
$color-secondary-dark: #ff6c9f;

$color-grey-light: #f4f4f4;
$color-grey-dark: #333;
